:root {
  --main-font: "open-sans", arial, sans-serif;
  --black: #000000;
  --white: #ffffff;
  --tundora: #444444;
  --seashell: #f1f1f1;
  --downy: #63d1bb;
  --fountain: #56c3b2;
  --alabaster: #fafafa;
  --gallery: #ececec;
  --c-text: var(--tundora);
  --c-bold-text: var(--black);
  --c-bg: var(--seashell);
  --c-bg-interior: var(--downy);
  --c-bg-toys: var(--fountain);
  --c-bg-hero-mob: var(--alabaster);
  --c-line: var(--gallery);
  --c-link-border: #62d1ba;
  --bg-rep: no-repeat;
  --bg-pos: center;
  --bg-size: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "open-sans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "open-sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.page {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.page-body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
  font-size: 15px;
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--c-white);
}

.container {
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
  width: 320px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  margin-top: 0;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: var(--c-bold-text);
}

.button {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 13px 20px;
  min-width: 260px;
  max-width: 320px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  border: 2px solid var(--c-text);
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 21px;
  padding-bottom: 22px;
  width: 100%;
  border: 1px solid var(--c-line);
}

.header__link-logo {
  grid-column: 1/-1;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
}

.header__burger {
  grid-column: 1/-1;
  grid-row: 1/2;
  align-self: center;
  justify-self: end;
}

.header__delivery {
  font-size: 15px;
  line-height: 24px;
  display: none;
}

.link-logo {
  display: block;
}

.link-logo__img {
  display: block;
}

.navigation__list {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.navigation__link {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 27px 30px;
  padding-left: 18%;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: inherit;
  border-top: 1px solid var(--c-line);
}

.burger {
  width: 20px;
  height: 24px;
}

.footer {
  padding-top: 28px;
  padding-bottom: 32px;
  background-color: var(--c-bg);
}

.footer__link-logo {
  display: none;
}

.footer__social {
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}

.footer__developer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__span-developer {
  padding-top: 30px;
  padding-right: 27px;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: var(--color-bold-text);
}

.footer__link-developer {
  display: inline-block;
  width: 27px;
  height: 35px;
  background: url("../img/html-academy.svg") var(--bg-rep) var(--bg-pos)/var(--bg-size);
  transform: translateY(15px);
}

.social-list {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 29px;
}

.social-list__link {
  display: block;
  width: 28px;
  height: 22px;
  background: var(--bg-rep) var(--bg-pos)/var(--bg-size);
}
.social-list__link--vk {
  background-image: url("../img/vkontakte.svg");
}
.social-list__link--youtube {
  background-image: url("../img/youtube.svg");
}
.social-list__link--telegram {
  background-image: url("../img/telegram.svg");
}

.main {
  flex-grow: 1;
}

.hero {
  position: relative;
  padding-top: 72px;
  min-height: 488px;
  background: var(--c-bg-hero-mob) url("../img/hero-mobile@2x.png") var(--bg-rep) var(--bg-pos) -18px/var(--bg-size);
}

.hero__title {
  text-align: center;
  font-size: 27px;
}

.hero__list {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

.hero__item--interior {
  background-color: var(--c-bg-interior);
}

.hero__item--toys {
  background-color: var(--c-bg-toys);
}

.hero__link {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 24px 120px 31px 30px;
  width: 100%;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: var(--white);
}

.featured {
  background-image: url("../img/zigzag-mobile.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
  padding-top: 31px;
  padding-bottom: 43px;
}

.featured__title {
  margin-top: 0;
  margin-bottom: 4px;
}

.featured__marking {
  margin-top: 0;
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--c-bg-interior);
}

.featured__text {
  margin-top: 0;
  margin-bottom: 21px;
  line-height: 24px;
}

.featured__list {
  margin-top: 0;
  margin-bottom: 28px;
  line-height: 20px;
}

.featured__item {
  display: grid;
  grid-template-columns: 38% 1fr;
  padding-top: 7px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--c-line);
}

.featured__property {
  grid-column: 1/2;
}

.featured__description {
  margin: 0;
  grid-column: 2/3;
}

.featured__image {
  display: block;
  margin-bottom: 28px;
}

.featured__price {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}

.about {
  padding-top: 31px;
  padding-bottom: 30px;
}

.about__title {
  margin-bottom: 4px;
}

.about__list {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  display: grid;
}

.about__item {
  margin-bottom: 4px;
  padding-top: 79px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: var(--c-bold-text);
}

.reviews {
  background-image: url("../img/zigzag-mobile.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
  padding-top: 23px;
  padding-bottom: 51px;
}

.reviews__title {
  grid-column: 1/-1;
  margin-top: 0;
  margin-bottom: 14px;
}

.slider {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 39px;
}

.slider__slide {
  grid-column: 1/-1;
}

.slider__quote {
  margin: 0 0 33px 0;
  line-height: 30px;
}

.slider__author {
  display: block;
  margin-bottom: 5px;
  padding-top: 34px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  font-style: normal;
}

.slider__address {
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
}

.slider__control {
  background-color: transparent;
  cursor: pointer;
  min-height: 52px;
  border: 1px solid var(--c-line);
  background: var(--bg-rep) var(--bg-pos)/var(--bg-size);
}
.slider__control--preview {
  grid-column: 1/2;
  border-right: none;
  background-image: url("../img/reviews-arrow-left.svg");
}
.slider__control--next {
  grid-column: 2/3;
  background-image: url("../img/reviews-arrow-right.svg");
}

.contacts {
  padding-top: 39px;
  padding-bottom: 40px;
}

.contacts__title {
  margin-bottom: 28px;
}

.contacts__address {
  padding-bottom: 62px;
  font-style: normal;
}

.contacts__list {
  margin: 0;
}

.contacts__item {
  display: grid;
  grid-template-columns: 30% 70%;
  font-size: 14px;
  line-height: 30px;
}
.contacts__item--margin {
  margin-bottom: 30px;
}

.contacts__description {
  margin: 0;
}

.contacts__link-email {
  text-decoration: none;
  color: inherit;
  padding-bottom: 2px;
  border-bottom: 1px solid var(--c-link-border);
}

.contacts__map {
  display: block;
  width: 100%;
  margin-bottom: 42px;
}

.order__title {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 17px;
  font-size: 27px;
  text-align: center;
  background-color: var(--c-bg);
}

.order__description {
  margin-bottom: 29px;
  font-size: 13px;
  line-height: 24px;
}

.form {
  padding-bottom: 55px;
}

.form__fieldset {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  border: none;
  border-top: 1px solid var(--c-bg-interior);
}

.form__subtitle {
  margin-bottom: 30px;
  text-transform: uppercase;
  color: var(--c-bg-interior);
}

.form__list-check {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.form__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--c-bold-text);
}

.form__list-input {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.form__input {
  padding-top: 17px;
  padding-bottom: 17px;
  width: 100%;
}

.form__item-check,
.form__item-input {
  margin-bottom: 20px;
}

.form__textarea {
  height: 142px;
  width: 100%;
  resize: none;
}

.form__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.form__button {
  background-color: transparent;
  cursor: pointer;
}

.catalog {
  padding-bottom: 30px;
}

.catalog__title {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 17px;
  font-size: 27px;
  text-align: center;
  background-color: var(--c-bg);
}

.catalog__list {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  display: grid;
  gap: 30px;
  margin-bottom: 30px;
}

.catalog__item {
  border: 1px solid var(--c-line);
}

.catalog__link {
  text-decoration: none;
  color: inherit;
}

.catalog__image {
  display: block;
}

.catalog__subtitle,
.catalog__production-title {
  font-size: 17px;
  line-height: 24px;
}

.catalog__production {
  padding-top: 20px;
  padding-bottom: 30px;
  border: 1px solid var(--c-line);
}

.adding__title {
  margin-bottom: 14px;
  width: 176px;
  font-size: 25px;
}

.adding__choice {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 30px;
}

.adding__list {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  margin-bottom: 31px;
}

.adding__button-size {
  background-color: transparent;
  cursor: pointer;
  width: 82px;
  height: 52px;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  border: 2px solid #ededed;
}
.adding__button-size--current {
  border-color: var(--c-bg-interior);
}

.adding__button {
  padding-top: 18px;
  background-color: var(--c-bg-interior);
  color: var(--white);
  width: 260px;
  border: none;
  height: 52px;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */